.pre-load-slider {
    width: 100%;
    height: 800px;
    display: block
}

.windows8 {
    position: absolute;
    width: 78px;
    height: 78px;
    display: block;
    margin: 350px auto auto 47%
}

.windows8 .wBall {
    position: absolute;
    width: 74px;
    height: 74px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 6.96s infinite;
    -o-animation: orbit 6.96s infinite;
    -ms-animation: orbit 6.96s infinite;
    -webkit-animation: orbit 6.96s infinite;
    -moz-animation: orbit 6.96s infinite
}

.windows8 .wBall .wInnerBall {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #000;
    left: 0;
    top: 0;
    border-radius: 10px
}

.windows8 #wBall_1 {
    animation-delay: 1.52s;
    -o-animation-delay: 1.52s;
    -ms-animation-delay: 1.52s;
    -webkit-animation-delay: 1.52s;
    -moz-animation-delay: 1.52s
}

.windows8 #wBall_2 {
    animation-delay: .3s;
    -o-animation-delay: .3s;
    -ms-animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s
}

.windows8 #wBall_3 {
    animation-delay: .61s;
    -o-animation-delay: .61s;
    -ms-animation-delay: .61s;
    -webkit-animation-delay: .61s;
    -moz-animation-delay: .61s
}

.windows8 #wBall_4 {
    animation-delay: .91s;
    -o-animation-delay: .91s;
    -ms-animation-delay: .91s;
    -webkit-animation-delay: .91s;
    -moz-animation-delay: .91s
}

.windows8 #wBall_5 {
    animation-delay: 1.22s;
    -o-animation-delay: 1.22s;
    -ms-animation-delay: 1.22s;
    -webkit-animation-delay: 1.22s;
    -moz-animation-delay: 1.22s
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out
    }
    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0
    }
    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%
    }
    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%
    }
    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%
    }
    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%
    }
    100%,
    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg)
    }
}

@media screen and (max-width:1366px) {
    .pre-load-slider {
        height: 600px
    }
    .windows8 {
        margin: 250px auto auto 47%
    }
}

@media screen and (max-width:980px) {
    .pre-load-slider {
        height: 500px
    }
    .windows8 {
        margin: 200px auto auto 47%
    }
}

@media screen and (max-width:768px) {
    .pre-load-slider {
        height: 500px
    }
    .windows8 {
        margin: 200px auto auto 46%
    }
    .overlay .container .caption h1 {
        margin-bottom: 45px
    }
}

@media screen and (max-width:320px) {
    .pre-load-slider {
        height: 200px
    }
    .windows8 {
        margin: 100px auto auto 40%
    }
}